.home-page-layout {
  top: 60px;
  position: absolute;
  width: 100%;
  max-width: fit-content;
  padding: 20px;
}

.home-page-container {
  display: flex;
}

.home-page-items {
  padding-inline-start: 0;
  padding: 10px 10px 0 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  min-height: 400px;
  margin: 0 20px 0 0;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.6);
  background-color: white;
}

.home-page-item {
  height: 30px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

.home-page-content {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  min-height: 400px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.6);
  background-color: white;
}

@media only screen and (max-width: 375px) {
  .home-page-items {
    width: 100%;
    margin: 0;
  }

  .home-page-content {
    display: none;
  }
}
